* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7fc;
    font-family: Arial, sans-serif;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    padding: 12px 30px;

    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(79, 70, 229, 0.08);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4d96ff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #2e3340;
    padding: 12px 18px;
    border-radius: 25px;
}

nav ul li a:hover {
    color: #4d96ff;
    background-color: #f0edff;
}

nav ul li a.active {
    color: #7b61ff;
    background-color: #f0edff;
}

.tombol {
    text-decoration: none;
    color: white;
    font-weight: bold;

    padding: 12px 22px;
    border-radius: 25px;

    background: linear-gradient(90deg, #4d96ff, #7b61ff);
}